@model RegistroViewModel

@{
    ViewData["Title"] = "Registro de Usuario";
}


<h1>@ViewData["Title"]</h1>

@if (ViewData.Keys.Contains("mensaje"))
{
    <p class="text-danger">
        @ViewData["mensaje"]
    </p>
}

<div class="card">
    <div class="card-body">

        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">

                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Registrarse</button>
            <a asp-action="Login" class="btn btn-success">Iniciar Sesion</a>
            <a class="btn btn-primary"
               asp-action="LoginExterno"
               asp-route-proveedor="Microsoft">Continuar con Microsoft</a>
        </form>

    </div>
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}