
@{
    ViewData["Title"] = "Clinica";
}

<div class="text-center">
    <h2>Óptica Buena Vista</h2>
    <h5>Óptica de confianza, servicio de calidad</h5>
</div>

<div class="text-center ">
    <a href="Index">Inicio</a>
</div>

<div class="row justify-content-center mt-5">
    <div class="columnas">
        <div class="card border-primary">
            <div class="card-body">

    <div class="columnas py-5 ">
        <img class="w-50" src="~/css/images/Optica-src.jpg" alt="" />
        <h3 class="text-center px-5">Clinica Santa Rosa de Copan</h3>
        <h5>
            Nuestra sucursal en Santa Rosa ubicada Barrio Santa Teresa, contiguo a farmacia Siman. Al entrar en nuestra tienda,
            te recibirán nuestros especialistas en óptica, quienes te ayudarán a encontrar los lentes que mejor se adapten a tus necesidades.
            Contamos con una amplia variedad de armazones modernos y de alta calidad,
            así como lentes con las últimas tecnologías en corrección visual. 
            Además, ofrecemos servicios como exámenes de la vista y ajustes personalizados de armazones. 
            Todo ello, en un ambiente acogedor y seguro, que garantiza una experiencia de compra satisfactoria
        </h5>
    </div>
        <a class="src" asp-action="ClinicaSrc">Leer Más</a>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center mt-5">
    <div class="columnas">
        <div class="card border-primary">
            <div class="card-body">
    <div class="columnas py-5">
        <img class="w-200" src="~/css/images/optica-sps.png" alt="" />
        <h3 class="text-center px-5">Clinica San Pedro Sula</h3>
        <h5>
           Nuestra sucursal en San Pedro Sula está ubicada en Boulevard del Norte, Hospital del Valle,
           uno de los Hospitales más grandes y modernos de la ciudad. 
           Al ingresar a nuestra clinica, te encontrarás con un ambiente elegante y sofisticado, 
           que refleja nuestro compromiso con la calidad y la atención al detalle.
           Nuestros especialistas en óptica estarán a tu disposición para asesorarte en la elección de los lentes
           y armazones que mejor se ajusten a tus necesidades.
           Contamos con una amplia variedad de opciones en productos y marcas,
           que abarcan desde lo clásico hasta lo más innovador. 
           Además, ofrecemos servicios como exámenes de la vista y ajustes personalizados de armazones,
           para asegurarnos de que tus lentes se adapten perfectamente a ti. 
           Todo ello, en un ambiente seguro y cómodo, que garantiza una experiencia de compra inigualable.
        </h5>
    </div>
        <a class="sps" asp-action="ClinicaSps">Leer Más</a>
            </div>
        </div>
    </div>
</div>


<div class="columnas">

    <div class="logo">
        <img src="~/css/images/Buena_Vista-removebg-preview.png" alt="" />
    </div>



    <div class=" info">
        <h5 class="justify-content-end"> Visítanos:</h5>
        <h5> Santa Rosa de Copán</h5>
        <h5> Barrio Santa Teresa, contiguo a farmacia Siman.</h5>
        <h5> 2662-6464 / Tel: 9645-9865</h5>
        <h5>San Pedro Sula</h5>
        <h5>Boulevard del Norte, Hospital del Valle</h5>
        <h5>2527-8549/ 2527-9580</h5>
    </div>

    <form asp-action="Cita">

        <div class="masinfo">
            <h4>Clinica especializada en tratar la salud de tus ojos</h4>
            <button type="submit" class="btn btn-primary">Agendar Cita</button>
        </div>

    </form>
 </div>

