@model Usuario

@{
    ViewData["Title"] = "Clinica San Pedro Sula";
}

<div class="text-center">
<h2>Óptica Buena Vista</h2>
<h5>Óptica de confianza, servicio de calidad</h5>
</div>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/css/images/animacion1.jpg" class="d-block w-100" alt="imagen1">
            </div>
            <div class="carousel-item">
                <img src="~/css/images/animacion2.jpg" class="d-block w-100" alt="imagen2">
            </div>
            <div class="carousel-item">
                <img src="~/css/images/animacion3.jpg" class="d-block w-100" alt="imagen2">
            </div>
                    <div class="carousel-item">
                <img src="~/css/images/animacion4.jpg" class="d-block w-100" alt="imagen2">
                 </div>
            <div class="carousel-item">
                     <img src="~/css/images/animacion5.jpg" class="d-block w-100" alt="imagen2">
            </div>
        </div>
    </div>

<div class="text-center ">
    <h1>Clinica San Pedro Sula</h1>
    <a href="Index">Inicio</a>
</div>

<div class="columas">

    <div class="columnas py-5">
        <img class="card w-200" src="~/css/images/optica-sps.png" alt="" />
<div class="py-5 px-5">

       <section>
           <details>
                    <summary>Dr. Carlos López</summary>
               <p>Especialidad: Contactología</p>
               <p>Horario: Lunes a Martes, 1:00 p.m a 5:00 p.m</p>
            </details>

           <details>
                    <summary>Dra. Laura Martínez</summary>
                    <p>Especialidad:Optometría Pediátrica</p>
                    <p>Horario: Lunes a Miércoles, 10:00 a.m a 5:00 pm</p>
            </details>

           <details>
                    <summary>Dr. José Ramírez</summary>
                    <p>Especialidad:Geriátrica</p>
                    <p>Horario: Lunes a Viernes, 9:00 a.m a 4:00 pm</p>
           </details>

           <details>
                    <summary>Dra. María Hernández</summary>
                    <p>Especialidad: Terapia Visual</p>
                    <p>Horario: Lunes a Martes, 2:00 p.m a 5:00 p.m </p>
           </details>

            <details>
                    <summary>Dr. Andrés Sánchez</summary>
                    <p>Especialidad:Glaucoma</p>
                    <p>Horario: Lunes a Jueves, 2:00 p.m a 5:00 p.m</p>
            </details>

       </section>
        </div>
</div>
    </div>

    <div class="text-center ">
<h1>Cita online</h1>
<a href="Index">Inicio</a>
</div>


<div class="columnas">

    <div class="logo">
        <img src="~/css/images/Buena_Vista-removebg-preview.png" alt="" />
    </div>

    <div class=" info">
        <h5 class="justify-content-end"> Visítanos:</h5>
        <h5> Santa Rosa de Copán</h5>
        <h5> Barrio Santa Teresa, contiguo a farmacia Siman.</h5>
        <h5> 2662-6464 / Tel: 9645-9865</h5>
        <h5>San Pedro Sula</h5>
        <h5>Boulevard del Norte, Hospital del Valle</h5>
        <h5>2527-8549/ 2527-9580</h5>
    </div>

    <form asp-action="Cita">

        <div class="masinfo">
            <h4>Clinica especializada en tratar la salud de tus ojos</h4>
            <button type="submit" class="btn btn-primary">Agendar Cita</button>
        </div>

    </form>
</div>

<script>
    var myCarousel = document.querySelector('#myCarousel')
    var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 3000
    })
</script>