@{
    ViewData["Title"] = "Historia";
}


<div class="background-image-container img-thumbnail">
    <div class="container my-5">
        <h1 class="text-center mb-5 fw-bold" style="font-family: 'Times New Roman', Times, serif">Nuestra Historia</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="card shadow-lg h-100 bg-transparent" style="background-color:beige">
                    <div class="card-body">
                        <p class="card-text" style="color:black; font-family: 'Times New Roman'">
                            Óptica Buena Vista es una clínica óptica comprometida con la salud visual y la satisfacción de sus clientes.
                            Desde nuestra fundación en 1998 en Santa Rosa de Copán, Honduras, nuestra misión ha sido ofrecer servicios ópticos 
                            integrales y de calidad, con la última tecnología y un enfoque personalizado en cada paciente.
                            En el año 2010, inauguramos una sucursal en San Pedro Sula, para brindar nuestros servicios a un público más amplio.


                            Cómo clínica óptica líder en Honduras, con una reputación impecable por la calidad de nuestros servicios,
                            la excelencia en la atención al cliente y la innovación en la tecnología. Queremos mejorar la calidad de vida de las personas,
                            proporcionándoles soluciones ópticas personalizadas y asequibles.

                            En Óptica Buena Vista, contamos con un equipo altamente capacitado de optometristas y técnicos en optometría,
                            que brindan un servicio excepcional y un trato amable y personalizado a nuestros pacientes.
                            Además, contamos con un amplio inventario de lentes y monturas de alta calidad y marcas reconocidas en el mercado,
                            garantizando la satisfacción de nuestros clientes.

                            Desde nuestros inicios, nos hemos enfocado en brindar un servicio integral a nuestros pacientes, 
                            desde exámenes de la vista, diagnóstico y tratamiento de enfermedades oculares, 
                            hasta la venta de lentes de contacto y lentes graduados de alta calidad.
                            En Óptica Buena Vista, creemos que cuidar de la salud visual es esencial para mantener una vida saludable y feliz.
                        </p>
                        <img src="~/css/images/clinica-oftalmologica.png" alt="Visión" class="card-img-bottom img text-center">
                        <a asp-action="Index" class="btn btn-primary">Ir a Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>