<div class="background-image-container img-thumbnail">
    <div class="container my-5">
        <h1 class="text-center mb-5 fw-bold" style="font-family: 'Times New Roman', Times, serif">Nuestra Misión</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="card shadow-lg h-100 bg-transparent" style="background-color:beige">
                    <div class="card-body">
                        <p class="card-text" style="color:black; font-family: 'Times New Roman'">
                            Nuestra misión es ofrecer a nuestros pacientes una atención integral y personalizada para el
                            cuidado de su salud visual. Nos comprometemos a utilizar la tecnología más avanzada y las
                            técnicas más innovadoras para brindar diagnósticos precisos y tratamientos efectivos.
                            Nos enfocamos en ofrecer un servicio de calidad, basado en valores éticos y profesionales,
                            para ayudar a nuestros pacientes a mejorar su calidad de vida y su bienestar general.
                            En nuestra clínica, nos esforzamos por establecer relaciones duraderas y cercanas con nuestros pacientes,
                            y nos enorgullece ser su aliado en el cuidado de su salud visual.
                        </p>
                        <img src="~/css/images/eyemision.jpg" alt="Visión" class="card-img-bottom img text-center">
                        <a asp-action="Index" class="btn btn-primary">Ir a Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>