<div class="background-image-container img-thumbnail d-flex justify-content-center align-items-center">
    <div class="container my-5">
        <h1 class="text-center mb-5 fw-bold" style="font-family: 'Times New Roman', Times, serif">Nuestra Visión</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="card shadow-lg h-100 bg-transparent" style="background-color:beige">
                    <div class="card-body">
                        <p class="card-text" style="color:black; font-family: 'Times New Roman'">
                            Nuestra visión es ser líderes en el cuidado de la salud visual,
                            ofreciendo a nuestros pacientes los tratamientos más avanzados y efectivos.
                            Queremos ser reconocidos por nuestra excelencia en el servicio,
                            nuestra ética profesional y nuestra dedicación al cuidado de la salud visual de nuestros pacientes.
                            Nos esforzamos por ser una clínica innovadora, que busca siempre nuevas formas de mejorar la calidad
                            de vida de nuestros pacientes y ofrecer soluciones a medida para cada necesidad. En nuestra clínica,
                            aspiramos a ser un referente en el cuidado de la salud visual, y a seguir creciendo y evolucionando
                            para estar siempre a la vanguardia de la tecnología y las técnicas más avanzadas.
                        </p>
                        <img src="~/css/images/eyecarevision.jpg" alt="Visión" class="card-img-bottom img text-center">
                        <a asp-action="Index" class="btn btn-primary">Ir a Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>