@{
    ViewData["Title"] = "Agregado";
}

<h1>Se ha agregado una tarea nueva</h1>
<p>Revise en la lista de tareas</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Volver al inicio</a>